{% extends 'base.html' %}

{% block menu %}

{% endblock %}


{% block conte %}
<section id="content">        
    <main id="main">
    <!-- Home -->
        <section id="blocos">
            <div class="linha1">
            <div class="bl01 fundoVerde">
                <img src="static/imagens/icon.png" width="76">
                <h2>Nossos Veículos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto et fuga sequi, ex eaque nesciunt perspiciatis quidem est mollitia, iusto, odit molestias quibusdam voluptatum neque ea? Laborum quia corporis aperiam!</p>

            </div>
            <div class="bl02 fundoPreto">
                <img src="static/imagens/icon.png" width="76">
                <h2 class="branco">Nossos Veículos</h2>
                <p class="branco">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto et fuga sequi, ex eaque nesciunt perspiciatis quidem est mollitia, iusto, odit molestias quibusdam voluptatum neque ea? Laborum quia corporis aperiam!</p>

            </div>
            <div class="bl03 fundoAmarelo">
                <img src="static/imagens/icon.png" width="76">
                <h2>Nossos Veículos</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto et fuga sequi, ex eaque nesciunt perspiciatis quidem est mollitia, iusto, odit molestias quibusdam voluptatum neque ea? Laborum quia corporis aperiam!</p>

            </div>
        </div> 
        <div class="linha2">
        
            <div class="blTexto">
                <h1>Nossa História</h1>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore excepturi, neque vero quos id harum iusto recusandae quod repellat quisquam ratione rem modi sint optio officiis nulla. Reiciendis, dicta voluptates?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore excepturi, neque vero quos id harum iusto recusandae quod repellat quisquam ratione rem modi sint optio officiis nulla. Reiciendis, dicta voluptates?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore excepturi, neque vero quos id harum iusto recusandae quod repellat quisquam ratione rem modi sint optio officiis nulla. Reiciendis, dicta voluptates?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore excepturi, neque vero quos id harum iusto recusandae quod repellat quisquam ratione rem modi sint optio officiis nulla. Reiciendis, dicta voluptates?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore excepturi, neque vero quos id harum iusto recusandae quod repellat quisquam ratione rem modi sint optio officiis nulla. Reiciendis, dicta voluptates?
                    
                </p>
            </div>
            <div class="blImg"><img src="static/imagens/image.png"></div>
        </div>
    </section>    
    <!-- Home -->
    </main>
</section>

{% endblock %}