{% extends 'base.html' %}

{% block menu %}

{% endblock %}

{% block conte %}
<h1>Mis Reservas</h1>
{% if reservas %}
    <table>
        <thead>
            <tr>
                <th>Vehículo</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Fin</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservas %}
                <tr>
                    <td>{{ reserva.Veicles.Marca }}</td>
                    <td>{{ reserva.inicio }}</td>
                    <td>{{ reserva.fin }}</td>
                    <td>{{ reserva.estado }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No tienes reservas activas.</p>
{% endif %}
{% endblock %}