{% extends 'base.html' %}

{% block menu %}

{% endblock %}

{% block conte %}
<section id="content">        
    <main id="main">
        <!-- veiculos -->
        <section id="Veiculos">
            <h1>Veículos Disponíveis</h1>
            <div class="listaVeiculos">
                {% for veiculo in veiculos %}
                <div class="blocosVeiculos">
                    <img src="/static/uploads/{{ veiculo.Img }}" alt="Imagem do veículo">
                    <div class="legenda">
                        <span class="nome">{{ veiculo.Marca }}</span>
                        <span class="preco">{{ veiculo.Valor }}</span>
                    </div>
                    <!-- Botón para reservar -->
                    <form action="/reservar/{{ veiculo.id }}" method="get">
                        <input type="submit" value="Reservar" class="btn-reservar">
                    </form>
                    {% if session['username'] == 'admin' %}
                    <form  class="blocoFormulario" action="/eliminar/{{ veiculo.id }}" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este vehículo?');">
                        <input  type="submit" value="Eliminar" class="btn-eliminar">
                    </form>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </section>
        <!-- veiculos -->
    </main>
</section>
{% endblock %}